.navbar-custom, .navbar-home{
  height: 100px;
  border:none;
  border-radius: 0px;
  margin-bottom: 0px;;
}

.navbar-custom{
  background-color:rgb(51, 9, 5);
}
.navbar-home{
  background-color: transparent;
}
.btns{
  margin-right:2.75rem;
}
.logo img{
  height:80px;
  width: 170px;
  margin-left:5rem;
  margin-top:1rem;
  
}
.logo{
  padding:5px;
}

.nav-btns{
  background-color: transparent;
  margin:10px;
  float: right;
  text-decoration: none;
  list-style: none;
  width: 8rem;
  height: 4rem;
  text-align: center;
  margin-top: 2.5rem;
  font-size: 125%;
  color: red;


}
.nav-btns:hover{
  border:solid #D14233 2px;
  color: #D14233;
  text-decoration: none;
}
.nav-btns:focus{
  border:solid #D14233 2px;
  color: #D14233;
  text-decoration: none;

}
.ul{
  margin-right: 10rem;
}
/* .navbar-home .nav>li>a, .navbar-custom .nav>li>a{
  color: #D14233;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top:3rem;

} */
.nav-li{
  margin-top:5px;

}


/* .navbar-home .nav>li>a:hover, .navbar-custom .nav>li>a:hover {
  border:solid #D14233 2px;
  color: #D14233;
}
.navbar-home .nav>li>a:focus, .navbar-custom .nav>li>a:focus{
  border:solid #D14233 2px;
  color: #D14233;
} */
.bg-image{
  height: 80vh;
  width: 100%;
  margin-top: 0px;

}
.container-home{
  margin-left: 0px;
  margin-right:0px;
  padding:0px;
}
 /* .cover-home{
  height: 100vh;
  width:100%;
  position: absolute;
  top:0px; } */

.content-home{
  margin-top:2rem;
  font-size: 100%;
  height: 300px;
  position: absolute;
  top:30%;
  left: 35%;
  z-index: 999;
  color: rgb(245, 237, 237);
  background-color: transparent;

}



.btn-home{
  margin-top:1.2rem;
  height: 4.9rem;
  width: 20rem;
  font-size: 150%;
  font-weight: bolder;
  background-color: #5bc0de;
  border:none;
  color:rgb(22, 19, 19);
}
.btn-home:hover{
  background-color: #1198c2;
  color: rgb(245, 237, 237);
}
.footer-custom{
  background-color: rgb(51, 9, 5);
  color: rgb(245, 237, 237);
  height:7rem;
  margin-top: none;
  margin-bottom: 0px;
}
.footer-text{
  padding:5px;
  margin-left:10rem;
  margin-top:25px;
}

.btn-startups{
  width: 10rem;
  height: 3rem;
}

.startups-custom{
  margin-top: 5rem;
}
.startups-img{
  height: 9rem;
  width: 9rem;
  margin-left:65px;
  margin-right:   20px;
  margin-top:19px;
}
span{
  color: #5bc0de
}
span:hover{
  color:rgba(177, 26, 9, 0.959);
}
.btn-startups{
  width: 120px;
  margin: 0px;
}
.startup-profile{
  margin-top:0px;
  padding:0px;
}
.submit-btn{
  background-color: #5bc0de;
  color: rgb(245, 237, 237);
}
.submit-btn:hover{
  background-color: #1198c2;
  color: rgb(245, 237, 237);
  
}
.signup-form{
  padding-bottom: 95px;
  margin-bottom: 130px;
  margin-top:65px

}
.login-form{
  margin-top: 3rem;

}
.login-form-a{
  margin-top: 10rem;
  margin-bottom:31.7rem;

}
/* Style all font awesome icons */
.media-icons{
  padding-left:30rem;
  height: 50%;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: right;
  text-decoration: none;
  margin-bottom:0px;
  margin-top:15px;


}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: transparent;
  color: #55ACEE; 
}

/* Twitter */
.fa-twitter {
  background: transparent;
  color: #55ACEE;
}

.fa-instagram {
  background: transparent;
  color: #55ACEE;
}
.fa-linkedin {
  background: transparent;
  color: #55ACEE;
}


.position{
  margin-top: 70px;
}